[submodule "CMake"]
	path = CMake
	url = https://github.com/StoneyDSP/CMake.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/StoneyDSP/vcpkg.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/StoneyDSP/JUCE.git
