[submodule "ConsoleApplication"]
	path = ConsoleApplication
	url = https://github.com/StoneyDSP/ConsoleApplication.git
[submodule "CMakeProject1"]
	path = CMakeProject1
	url = https://github.com/StoneyDSP/CMakeProject1.git
[submodule "StoneyDSP"]
	path = StoneyDSP
	url = https://github.com/StoneyDSP/StoneyDSP.git
[submodule "extern/doxygen"]
	path = extern/doxygen
	url = ../../StoneyDSP/doxygen.git
[submodule "extern/PowerShell"]
	path = extern/PowerShell
	url = ../../StoneyDSP/PowerShell.git
[submodule "extern/JUCE"]
	path = extern/JUCE
	url = ../../StoneyDSP/JUCE.git
[submodule "extern/CMake"]
	path = extern/CMake
	url = ../../StoneyDSP/CMake.git
[submodule "extern/vcpkg"]
	path = extern/vcpkg
	url = ../../StoneyDSP/vcpkg.git
