[submodule "CMake"]
	path = CMake
	url = https://github.com/StoneyDSP/CMake.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/StoneyDSP/vcpkg.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/StoneyDSP/JUCE.git
[submodule "doxygen"]
	path = doxygen
	url = https://github.com/StoneyDSP/doxygen.git
[submodule "ConsoleApplication"]
	path = ConsoleApplication
	url = https://github.com/StoneyDSP/ConsoleApplication.git
[submodule "CMakeProject1"]
	path = CMakeProject1
	url = https://github.com/StoneyDSP/CMakeProject1.git
