.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content {
	/* max-width: 56rem;  896px */
	/* min-width: 48rem;  768px */
	width: 56rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.5rem; /* 56px */

	background-color: hsl(var(--background));
	color: hsl(var(--foreground));

	padding-left: 2rem;
  padding-right: 2rem;

	padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
}

.flexboxgrid {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	background-color: hsl(var(--background));
	color: hsl(var(--foreground));

	animation: animateMain 0.3s ease 0.15s both;
}

.animate-main {
  animation: animateMain 0.3s ease 0.15s both;
}

@keyframes animateMain {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1024px) {
	.content {
		padding-top: 2rem; /* 32px */
		padding-bottom: 2rem; /* 32px */
	}
}
