@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html, body {
  font-size: calc((15.00px + 0.390625vw) * (15.00 / 18.00));
}
html {
	--page-background-colour: var(--color__white);
	--page-foreground-colour: var(--color__black);
	--colour-dull: hsla(0, 0%, 0%, 50%);
	--colour-glow: hsl(180, 100%, 50%);
}
html.dark-mode {
	--page-background-colour: var(--color__black);
	--page-foreground-colour: var(--color__white);
	--colour-dull: hsla(0, 0%, 100%, 50%);
	--colour-glow: hsl(180, 100%, 50%);
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  display: block;
  font-size: 2.0rem;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17rem;
  font-weight: bold;
}
h4 {
  display: block;
  font-size: 1.0rem;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83rem;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67rem;
  font-weight: bold;
}
hgroup {
  display: block;
}
p {
  display: block;
}
i {
  font-style: italic;
}
address {
  display: block;
  font-style: italic;
}


/* Utility classes */

.block {
display: block;
width: 100%;
}
.inline-block {
display: inline-block;
width: 100%;
}
.flex {
display: flex;
}
.flex.column {
flex-direction: column;
}
.flex.row {
flex-direction: row;
}
.flex.flex-1 {
flex: 1 1 0;
}
.flex-end {
justify-content: flex-end;
}
.flex-center {
justify-content: center;
}
.items-center {
align-items: center;
}
.text-sm {
font-size: 0.8rem;
font-weight: 300;
}
.text-right {
text-align: right;
}
.font-light {
font-weight: 300;
}
.opacity-half {
opacity: 50%;
}



.transition__glow {
	box-shadow: 0 0 1.0rem var(--colour-dull);
	background-color: var(--colour-dull);

	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.transition__glow:hover {
	background-color: var(--glow-color);
	box-shadow: 0 0 2.0rem var(--glow-color);

	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.transition__trans_glow {
	box-shadow: none;
	background-color: none;

	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.transition__trans_glow:hover {
	background-color: none;
	box-shadow: 0 0 2.0rem var(--glow-color);

	transition-property: background-color, box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.transition___shadow_glow {
	box-shadow: 0 0 1.0rem var(--colour-dull);

	transition-property: box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.transition___shadow_glow:hover {
	box-shadow: 0 0 2.0rem var(--colour-glow);

	transition-property: box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.transition___shadow_off {
	box-shadow: 0 0 1.0rem var(--colour-dull);

	transition-property: box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.transition___shadow_off:hover {
	box-shadow: none;

	transition-property: box-shadow;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
